<div class="row">
  <div class="col-md-12">
    <form [formGroup]="clientForm" (ngSubmit)="onSubmit()">
      <div class="row" *ngIf='editMode==false'>
        <div class="col-md-12">
          <div class="form-group">
            <label for="documento">Documento</label>
            <input type="text" id="documento" formControlName="documento" class="form-control"/>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="apellido">Apellido</label>
            <input type="text" id="apellido" formControlName="apellido" class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="nombre">Nombre</label>
            <input type="text" id="nombre" formControlName="nombre" class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="direccion">Direccion</label>
            <input type="text" id="direccion" formControlName="direccion" class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="telefono">Telefono</label>
            <input type="text" id="telefono" formControlName="telefono" class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="estado">Estado</label>
            <input type="text" id="estado" formControlName="estado" class="form-control">
          </div>
        </div>
      </div>
      <div class="row text-center">
        <div class="col-md-12">
          <button type="submit" class="btn btn-success" [disabled]="!clientForm.valid">Save</button>
          <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
        </div>
      </div>
    </form>
  </div>
</div>
